<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjy7x_kTaDlNLWODIkRRV4yaaCSHVL26s</string>
	<key>GCM_SENDER_ID</key>
	<string>456795898989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.evCharging.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ev-charging-2f2d2</string>
	<key>STORAGE_BUCKET</key>
	<string>ev-charging-2f2d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456795898989:ios:c8765020ab0c5842b1ab64</string>
</dict>
</plist>